<template>
    <div>
        <div v-if="currentLevel === 0">
            <h1>{{ mindTestTitle }}</h1>
            <button @click="gameStart()">테스트 시작하기</button>
        </div>
        <div v-else-if="currentLevel === 1">
            <h2>{{ mindTestTitle }}</h2>
            <h3>{{ answerList[0].question }}</h3>
            <button
                v-for="(item, index) in answerList[0].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 2">
            <h2>{{ mindTestTitle }}</h2>
            <h3>{{ answerList[1].question }}</h3>
            <button
                v-for="(item, index) in answerList[1].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 3">
            <h2>{{ mindTestTitle }}</h2>
            <h3>{{ answerList[2].question }}</h3>
            <button
                v-for="(item, index) in answerList[2].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 4">
            <h2>{{ mindTestTitle }}</h2>
            <h3>{{ answerList[3].question }}</h3>
            <button
                v-for="(item, index) in answerList[3].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 5">
            <h2>{{ mindTestTitle }}</h2>
            <h3>{{ answerList[4].question }}</h3>
            <button
                v-for="(item, index) in answerList[4].answers"
                @click="nextLevel(index)">
                A{{ index + 1 }}.{{ item.answer }}
            </button>
        </div>
        <div v-else-if="currentLevel === 6">
            <h2>{{ mindTestTitle }}</h2>
            <h3>{{ resultRankTitle }}</h3>
            <h4>당신의 점수는 : {{ resultRankValue }}</h4>
            <div><button @click="gameReset">다시하기</button></div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            mindTestTitle: '당신의 꼰대력 레벨은?',
            currentLevel: 0,
            answer1Value: null,
            answer2Value: null,
            answer3Value: null,
            answer4Value: null,
            answer5Value: null,
            resultRankValue: 0,
            resultRankTitle: null,
            resultList: [
                {
                    rankMinValue: 5,
                    rankMaxValue: 10,
                    rankName: '꼰대력 Lv.Max'
                },
                {
                    rankMinValue: 11,
                    rankMaxValue: 20,
                    rankName: '꼰대력 Lv.2'
                },
                {
                    rankMinValue: 21,
                    rankMaxValue: 30,
                    rankName: '꼰대력 Lv.1'
                },
                {
                    rankMinValue: 31,
                    rankMaxValue: 35,
                    rankName: 'MZ 세대'
                },
            ],
            answerList: [
                {
                    question: '1. 다른 사람이 나에게 하는 충고는 대부분 도움이 되지 않는다.',
                    answers: [
                        {answer: '전혀 그렇지 않다.', rankValue: 7},
                        {answer: '그렇지 않다.', rankValue: 5},
                        {answer: '그렇다.', rankValue: 3},
                        {answer: '매우 그렇다.', rankValue: 1}
                    ]
                },
                {
                    question: '2. 다른 사람에게 귀하의 의견을 전달할 경우, 둘 중 어떤 것이 본인을 더 잘 나타냅니까?',
                    answers: [
                        {answer: '떠오르는 생각을 직접적으로 전달 하는 것에 훨씬 더 가까움.', rankValue: 1},
                        {answer: '떠오르는 생각을 직접적으로 전달 하는 것에 조금 더 가까움.', rankValue: 3},
                        {answer: '충분한 고민을 한 후 간접적으로 전달 하는 것에 조금 더 가까움.', rankValue: 5},
                        {answer: '충분한 고민을 한 후 간접적으로 전달 하는 것에 훨씬 더 가까움.', rankValue: 7}
                    ]
                },
                {
                    question: '3. 다수결로 의사결정을 하기보다 시간이 걸리더라도 소수 의견까지 취합하는 것이 중요하다.',
                    answers: [
                        {answer: '전혀 그렇지 않다.', rankValue: 1},
                        {answer: '그렇지 않다.', rankValue: 3},
                        {answer: '그렇다.', rankValue: 5},
                        {answer: '매우 그렇다.', rankValue: 7}
                    ]
                },
                {
                    question: '4. 어떤 상황에서 판단하고 결정을 내릴 때, 둘 중 어떤 것이 본인을 더 잘 나타냅니까?',
                    answers: [
                        {answer: '현재 선호에 따라 판단하고 결정 하는 것에 훨씬 더 가까움.', rankValue: 1},
                        {answer: '현재 선호에 따라 판단하고 결정 하는 것에 조금 더 가까움.', rankValue: 3},
                        {answer: '계획에 따라 판단하고 결정 하는 하는 것에 조금 더 가까움.', rankValue: 5},
                        {answer: '계획에 따라 판단하고 결정 하는 것에 훨씬 더 가까움.', rankValue: 7}
                    ]
                },
                {
                    question: '5. 어떤 것이 더 중요한가요?',
                    answers: [
                        {answer: '소속된 집단 내 연대감 형성이 매우 더 중요함.', rankValue: 7},
                        {answer: '소속된 집단 내 연대감 형성이 조금 더 중요함.', rankValue: 5},
                        {answer: '소속된 집단과 개인의 목표 분리가 조금 더 중요함.', rankValue: 3},
                        {answer: '소속된 집단과 개인의 목표 분리가 매우 더 중요함.', rankValue: 1}
                    ]
                }
            ]
        }
    },
    methods: {
        gameStart() {
            this.currentLevel = 1
        },
        nextLevel(selectedAnswerIndex) {
            if (this.currentLevel === 1) {
                this.answer1Value = selectedAnswerIndex
            } else if (this.currentLevel === 2) {
                this.answer2Value = selectedAnswerIndex
            } else if (this.currentLevel === 3) {
                this.answer3Value = selectedAnswerIndex
            } else if (this.currentLevel === 4) {
                this.answer4Value = selectedAnswerIndex
            } else if (this.currentLevel === 5) {
                this.answer5Value = selectedAnswerIndex
                this.calculateResult()
            }

            this.currentLevel = this.currentLevel + 1
        },
        calculateResult() {
            this.resultRankValue = this.answerList[0].answers[this.answer1Value].rankValue
            this.resultRankValue += this.answerList[1].answers[this.answer2Value].rankValue
            this.resultRankValue += this.answerList[2].answers[this.answer3Value].rankValue
            this.resultRankValue += this.answerList[3].answers[this.answer4Value].rankValue
            this.resultRankValue += this.answerList[4].answers[this.answer5Value].rankValue

            for (let i =0; i < this.resultList.length; i++) {
                if (this.resultList[i].rankMinValue <= this.resultRankValue && this.resultList[i].rankMaxValue >= this.resultRankValue) {
                    this.resultRankTitle = this.resultList[i].rankName
                }
            }
        },
        gameReset() {
            this.currentLevel = 0
            this.answer1Value = null
            this.answer2Value = null
            this.answer3Value = null
            this.answer4Value = null
            this.answer5Value = null
            this.resultRankValue = 0
            this.resultRankTitle = null
        }
    }
}
</script>